<%= form_with(model: tweet, local: true, class: 'w-100 mb-3') do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-3">
    <b class="new-text text-fix shadow-text">@<%= current_user.username %>:</b> <br />
    <%= form.text_area :content, placeholder: 'Escribe un tweet...', class: 'form-control text-gray' %>
  </div>

  <div class="actions new-text ">
    <%= form.submit 'Crear', class: 'ml-2 btn btn-info text-white float-left' %>
  </div>
<% end %>
