<div class="card col-12 px-0 border-0 my-1">
    <div class="card text-dark bg-white">
        <div class="card-header">
            <div>
                <%= link_to "<i class='fa fa-calendar'></i>".html_safe+time_ago_in_words(tweet.created_at), tweet %>
            </div>
            <%= image_tag (tweet.user.avatar), class: "avatar-in-tweet" %>
            @<%= tweet.user.username %><br />
        </div>

        <div class="card-body">
            <p class="card-text"><i><%= tweet.content %></i></p>
        </div>

        <div class="card-footer bg-white border-1">
            <div class="d-inline">
                <% if tweet.is_liked?(current_user) %>
                    <%= link_to "<i class='fas fa-heart text-danger'></i>".html_safe, tweet_likes_path(tweet), method: :post %>
                <% else %>
                    <%= link_to "<i class='far fa-heart'></i>".html_safe, tweet_likes_path(tweet), method: :post %>
                <% end %>
                <%= tweet.likes.count %> | re-tweets
            </div>

            <div class="float-right">
                <%= tweet.count_rt %>
                <%= link_to "<i class='fas fa-retweet text-#{tweet.retweet_color}'></i>".html_safe, tweet_retweet_path(tweet), method: :post %>
                
                <% if tweet.is_retweet? %>
                    <%= link_to "Retweet...", tweet.tweet_ref %>
                <%end%>
            </div>
        </div>
    </div>
</div>


