<div class="row">
    <% if user_signed_in? %>
        <%= render 'tweets/form', tweet: @tweet %>
    <% end %>
    <div class="w-100 mt-2">
        <%= form_tag(root_path, method: :get) do %>
            <div class="form-group new-text">
                <%= link_to "limpiar", root_path, class: :'btn btn-secondary float-right ml-2 text-white mb-2' %>
                <%= submit_tag("buscar", class: :'ml-2 btn btn-info text-white float-right') %>
                <%= text_field_tag(:search, params[:search], class: :'w-50 float-right form-control d-inline') %>
            </div>
        <% end %>
    </div>
</div>

<div class="row">
    <% @tweets.each do |tweet| %>
        <%= render 'tweets/single_tweet', tweet: tweet %>
    <% end %>
    <hr/>
</div>

<div class="d-flex justify-content-around text-pag">
    <%= paginate @tweets, window: 2 %>
</div>
